<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @micropo.content %>
</p>

<p>
  <b>User string:</b>
  <%= @micropo.user_string %>
</p>


<%= link_to 'Edit', edit_micropo_path(@micropo) %> |
<%= link_to 'Back', micropos_path %>
